{% extends "base.html" %}
{% block content %}
{% load form_tags %}

<div class="container py-5" style="max-width: 400px;">
  <h2 class="fw-bold mb-4 text-center">Сброс пароля</h2>
  <p>Введите ваш email, и мы отправим ссылку для сброса пароля.</p>

  <form method="post">
    {% csrf_token %}

    <div class="mb-3">
      {{ form.email|add_class:"form-control" }}
      {% if form.email.errors %}
        <div class="text-danger mt-1">
          {% for error in form.email.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <button type="submit" class="btn w-100" style="background-color: #334B5B; color: #ffffff;">
      Отправить ссылку
    </button>
  </form>
</div>

{% endblock %}
