{% extends "base.html" %}
{% load form_tags %}

{% block content %}
<div class="container py-5" style="max-width: 500px;">
    <h2 class="fw-bold mb-4 text-center">Профиль</h2>

    {% if edit_mode %}
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field|add_class:"form-control" }}
                    {% if field.errors %}
                        <div class="text-danger">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn w-100" style="background-color: #334B5B; color: #ffffff;">Сохранить изменения</button>
            <a href="/account/" class="btn w-100 mt-2 btn-secondary">Отменить изменения</a>
        </form>
    {% else %}
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Имя:</strong> {{ user.first_name }}</p>
        <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
        <p><strong>Отчество:</strong> {{ user.middle_name }}</p>
        <p><strong>Телефон:</strong> {{ user.phone_number }}</p>

        <a href="/account/?edit=1" class="btn w-100" style="background-color: #334B5B; color: #ffffff;">Редактировать данные</a>
        <a href="/account/logout/" class="btn w-100 mt-2 btn-danger">Выйти из аккаунта</a>
    {% endif %}
</div>
{% endblock %}
