{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container px-3">

    <!-- Hero -->
    <div class="bg-secondary rounded-3 overflow-hidden" style="min-height: 420px;">
        <div class="row g-0">

            <!-- Левый блок -->
            <div class="col-12 col-lg-6 p-5 d-flex flex-column justify-content-center"
                 style="background-color: #243642;">
                <h1 class="fw-bold display-6" style="color: #ffffff;margin-bottom: 10;">
                    Автокомплекс по продаже запчастей и ремонту автомобилей
                </h1>
                <p class="lead" style="color: #ffffff; margin-bottom: 25;">
                    Запчасти, ремонт, консультации и сервис в одном месте
                </p>
                <div class="d-flex flex-column flex-sm-row justify-content-left gap-4">
                    <a href="/account/application/" class="btn"
                       style="background:#95444d; color:#ffffff; padding: .75rem 2rem; border-radius:10px; font-size: 1.1rem; max-width: 350px;">
                        Оформить заявку
                    </a>
                    <a href="/account/appointment/" class="btn"
                       style="background:#95444d; color:#ffffff; padding: .75rem 2rem; border-radius:10px; font-size: 1.1rem; max-width: 350px;">
                        Записаться на СТО
                    </a>
                </div>
            </div>

            <!-- Правый блок: картинка с оверлеем -->
            <div class="col-12 col-lg-6 position-relative" style="min-height: 420px; background-color: #334B5B">
                <img src="{% static 'images/home_auto.png' %}" alt="Автосервис"
                     class="w-100 h-100 object-fit-cover" style="object-fit:cover;">


            </div>

        </div>
    </div>

    <!-- Почему выбирают нас -->
    <section class="text-center my-5">
        <h2 class="fw-bold mb-4">Почему выбирают именно нас?</h2>
        <div class="row g-4">
            <div class="col-12 col-md-4">
                <div class="card bg-light text-dark border-0 h-100 p-3">
                    <!-- Картинка -->
                    <img src="{% static 'images/feature1.jpg' %}" alt="Пример 1" class="mb-3 w-100"
                         style="height:160px; object-fit:cover; border-radius:6px;">
                    <h5 class="card-title">Гарантия качества</h5>
                    <p class="card-text">Мы поставляем запчасти более 17 лет.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card bg-light text-dark border-0 h-100 p-3">
                    <img src="{% static 'images/feature2.jpg' %}" class="mb-3 w-100"
                         style="height:160px; object-fit:cover; border-radius:6px;">
                    <h5 class="card-title">Индивидуальный подход</h5>
                    <p class="card-text">Профессионализм и опыт.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card bg-light text-dark border-0 h-100 p-3">
                    <img src="{% static 'images/feature3.jpg' %}" alt="Исправная техника" class="mb-3 w-100"
                         style="height:160px; object-fit:cover; border-radius:6px;">
                    <h5 class="card-title">Оригинальные запчасти</h5>
                    <p class="card-text">КАМАЗ, УАЗ, ЗИЛ, DONGFENG.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Партнёры -->
    <section class="text-center my-5" style="background:#ffffff;">
        <h2 class="fw-bold mb-4">Наши партнёры</h2>
        <div class="d-flex flex-wrap justify-content-center gap-3 align-items-center">
            <img src="{% static 'images/partners/omsk_dizel.png' %}" alt="partner"
                 style="height:140px;object-fit:contain;">
            <img src="{% static 'images/partners/dinamika_sveta.jpg' %}" alt="partner"
                 style="height:140px;object-fit:contain;">
            <img src="{% static 'images/partners/auto_aliyans.jpg' %}" alt="partner"
                 style="height:120px;object-fit:contain;">
            <img src="{% static 'images/partners/avtozavod.png' %}" alt="partner"
                 style="height:90px;object-fit:contain;">
            <img src="{% static 'images/partners/cmz_ao.jpg' %}" alt="partner" style="height:100px;object-fit:contain;">
        </div>
    </section>

</div>
{% endblock %}
