{% extends "base.html" %}
{% block content %}
<div class="container py-5" style="text-align: left;">

  <h2 class="fw-bold mb-4">Сотрудничество</h2>

  <p class="mb-3">
    Чтобы начать с нами сотрудничать, вы можете обратиться непосредственно <br>
    в центральный офис компании любым удобным способом:
  </p>

  <p class="mb-1"><strong>по телефону:</strong> +7 (3812) 63‒77‒73</p>
  <p class="mb-1"><strong>по почте:</strong> call@interavto.ru</p>
  <p class="mb-4"><strong>по WhatsApp/Telegram:</strong> +7‒913‒688‒29‒67</p>

  <h3 class="fw-bold mt-5">Ваши преимущества с ИнтерАвто</h3>

</div>
{% endblock %}
